Binaries
DerivedDataCache
Intermediate
Saved
Build
Content
**/BlackAlder
**/MedievalDungeon
**/Fab
**/StarterContent
**/Assets
**/Enemy

.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace