Binaries
DerivedDataCache
Intermediate
Saved
Build
Content
**/BlackAlder
**/MedievalDungeon
**/Fab
**/StarterContent
**/Assets
**/Enemy

.vscode
.vs
.idea/
.DS_Store
Thumbs.db

*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.xcuserstate
*.xccheckout